<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>Car Transport</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service-content-wrapper">
					<h2>Using UK car transportation companies</h2>
					<p>Whenever you need to arrange car transport, no matter what the circumstances or reasons, we blow away the minefield of jargon to get you quotes from specialist car transporter firms who can collect and deliver your vehicle when you want and where you want</p>
					<h2>Two main methods of transportation</h2>
					<p>Essentially there are two methods of transportation when organising a car delivery in the UK or Europe; either by trailer or having the car driven. If your car is road legal, opting for a professional car delivery driver to collect the car and drive it to your destination is often the cheapest method. The car is delivered using trade plates, which means a car with a current MOT but no tax or unregistered can be driven on the public roads by what we call a ‘trade plater’</p>
					<p>If you’ve got a number of cars to deliver, or the car isn’t roadworthy or legal, you might well find that a car transporter service is a more cost effective solution. The types of car transporters will vary from single car transporters to those capable of carrying multiple vehicles. The costs will also vary according to the type of car delivery service you require; from a flatbed open trailer suitable for one vehicle, to covered vehicles for the luxury end of the market such as classic car transport</p>
					<img src="images/car-transport.jpg">
					<h2>Car transport and why you need the professionals</h2>
					<p>There is whole host of reasons why you might need an experienced car transporter. You might have bought or sold a car on eBay, you might be a specialist garage arranging car transport for a client, perhaps you’re arranging car transportation for a track day, or you’ve simply bought a car at auction. Whatever your reasons, the type of car and your budget will dictate how you’ll want to transport it.</p>
					<p>If for example your car is destined for scrap then you’ll want the cheapest car transporter method available. On the other hand fleet car managers needing to arrange transport for several vehicles such as car dealerships and garages, will need a multi car transporter service. Specialist kit car builders and classic car owners might want a covered car transportation solution in order to protect their pride and joy from prying eyes, as well as the dust and dirt on the road.</p>
					<p>Similarly, prestige cars, luxury sports cars, racing cars and even car prototypes will need the car shipment to be as discrete as possible, in a curtained-sided covered vehicle. And for anyone organising classic car transport, it’s absolutely essential that the car arrives at its destination as pristine as it was when it left.</p>
					<p>Of course, you don’t have to be in the car industry to need a vehicle delivery service. The most common enquiries we receive are from individuals who’ve bought a car on the internet, or are in the  Armed Forces and want a car moving abroad. Whatever the reason for shifting that car, we can help you coordinate the transportation.</p>
					<h2>Car shipping</h2>
					<p>If you’re moving cars into or out of the UK then you need a specialist car shipping transporter who will be able to advise you on both the procedures and the shipping documentation. Essentially there are two main options, the first of which is a dedicated car shipping service in which you car is shipped in a 20 or 40ft shipping container. This is the most secure way of shipping your car however it’s not necessarily the cheapest. The other option is a roll-on / roll-off car shipment where by your vehicle is driven onto the vessel and secured on or beneath the deck. This is a cheaper form of car transportation and is favour by large vehicle manufacturers</p>
					<h2>Getting your car transportation quote</h2>
					<p>Whatever service you require getting quotes is simple. Enter your car transportation details and we’ll sort the quotes. Professional transporters will see your car delivery details and will submit bids accordingly. Car transport quotes will be based on the distance between the collection and delivery sites, the number of cars needing to be transported and the urgency of the job. For a budget car delivery service flexibility is the key; for those in a hurry car transportation can normally be arranged within three days</p>
					<p>To get the best quotes, you need a car transporter to be returning empty in your area. The key to this is getting people who need cars moving together with companies who have car trailers and transporters driving unloaded on an outward or return journey. That’s why our website really works. By posting your car delivery details, companies with services already scheduled to go your way will be able to fill spare capacity with what they call a ‘back load’. So as they were going there anyway, the price you’ll be quoted will be very competitive</p>
					<h2>What to expect from your car delivery service</h2>
					<p>If you plump for a driven car delivery service, you can expect the driver to do a pre-journey collection and delivery check to make sure the car has arrived in the same state as when it left. It’s also important that you check to ensure that the car delivery company has sufficient insurance cover for your vehicle. If not most companies will be happy to increase it for a small additional fee</p>
					<p>Weight is also important when it comes to car delivery services. A car transporter must respect thegross vehicle weight (GVW), which is the weight of the towing vehicle, plus its trailer, plus the car or cars loaded onto it. If this exceeds the maximum then the car transporter is operating outside of VOSA rules. If the GVW is more than 3.5 tonnes, the car transport firm will also need an operator’s licence.</p>
					<p>For that extra peace of mind, look out for a car delivery service provider who is also a member of the Car Transport Association, which represents individuals and companies that provide car transportation services across the UK and Europe</p>
					<p>Whichever option you decide delivery Any-Movers.com can help you compare a wide range of services by matching your requirements against 100's of specialist car shipping companies. Just click the button below, enter your details and receive free, no obligation quotes from some of the UK's leading car transporter companies</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>


</html>