<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>Courier Services</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service-content-wrapper">
					<h2>Using couriers for sending packages</h2>
					<p>If you want to send a package or multiple packages quickly and efficiently throughout the UK then courier services are a very sensible option. Couriers offer an ideal service for large or heavy items that are too big for standard Royal Mail delivery, but not big enough for large logistical firms; courier companies will generally provide a range of services throughout the UK according to the customers requirements, including next day and even same day deliveries.</p>
					<h2>Advantages and disadvantages of using couriers</h2>
					<p>As with most delivery networks there are both advantages and disadvantages and understanding the benefits and limits of the network will help you choose the right service</p>
					<p>One of the main advantages is that there is less risk of the package being lost or damaged during delivery. When sending a package through a traditional delivery network the item can be handled up to ten times before being received by the end recipient, this increases the risk of damage or loss, but because a courier service is comprised of a dedicated network your package will be collected and delivered with minimum handling.</p>
					<p>Couriers also offer a range of options when it comes to collection dates and times meaning that you can schedule a collection at a time and place that suits you. There is one disadvantage and that’s the price. They are usually more expensive than other options, but using our site you can find competitive quotes from the leading companies in a matter of minutes, not to mention the peace of mind too.</p>
					<img src="images/courier-services.jpg">
					<h2>Using economy courier services – the sensible way forward</h2>
					<p>An economy service is the most cost effective courier option available, although it has to be noted that there will be a degree of flexibility when it comes to collection and delivery of the package. If affordability is the key consideration you need to be mindful that a cheap courier quote will be based on an economy service and is designed to take into consideration the couriers existing work schedule and pre-planned route; this is reflected in the lower price but means that the package may take longer to get to its destination. Economy services are great for those who want the peace of mind but don’ need an urgent delivery.</p>
					<h2>Express services – next day and same day</h2>
					<p>For those who require an urgent delivery, the express option is the perfect option to select. You can choose between next day or same day delivery depending on how quickly you need the package received.</p>
					<p>This is a more dedicated service compared with an economy service and thus is more expensive, but if you need to get an item to someone in a hurry then this is the option for you.</p>
					<h2>Packaging requirements when arranging a delivery</h2>
					<p>When sending any package through the postal network it is important to make sure that it is packaged well. A sturdy box, some brown tape and packing such as bubble wrap or packing paper are essential to keeping all of the items safe during transit.</p>
					<p>For large item courier deliveries such as furniture, garden equipment, bicycles or an eBay delivery it is recommended that you speak to the courier first. They can advise you on how to pack the items or can supply a packing blanket or strapping to keep your items protected during transportation.</p>
					<h2>Insurance</h2>
					<p>All specialist couriers will have Goods in Transit insurance to protect their cargo, as well as the relevant vehicle insurance. It is a good idea to check what level of cover is offered by the company and that it is sufficient to cover the goods that you want transported. Companies who do not have Goods in Transit insurance should be avoided as any damage will not be covered by vehicle insurance alone.</p>
					<p>All of the couriers who use our site are required to list the level of insurance cover they provide, so checking out each of your quotes thoroughly is a good idea to stop any heartache down the line. Some companies will increase their level of insurance if an item is expensive, although there will be a small additional fee for this service</p>
					<h2>Signing for the delivery</h2>
					<p>A courier’s responsibility for an item begins when they collect an item and ends when the item is delivered and signed for, so it is imperative that the recipient checks the goods are not damaged before signing. Insurance claims for damages to goods will not be accepted after the goods have been signed for. If any damage is seen do not sign for the goods and contact the company straight away.</p>
					<p>If you are sending an item you can also protect yourself by taking a photo of the goods before they were sent. You can then provide the recipient with the photographs so that they can check that the item matches the photos before signing anything.</p>
					<h2>The different types of courier services currently available</h2>
					<p>As noted above there are a range of different options when sending a package with a courier. For urgent deliveries or high value items it is recommended that you use next day or same day services as these provide a quick and reliable service. For items that are not urgent but still need the peace of mind that a courier offers then an economy service is recommended. If you are looking to ship items abroad you'll need to use specialist international couriers rather than domestic services; likewise for European couriers.</p>
					<p>When sending an item abroad there are some size and weight restrictions that must be adhered to. Although many companies have different size and weight restrictions they tend to be approximately 120cms wide, 60cms high and 60cms deep, and be under 30kgs in weight</p>
					<p>If you want an item delivered in the local area then hiring a local service is the most cost-effective way. Local couriers are often more affordable than national companies because the distance is shorter. Visit our local couriers section for more information on finding one near you.</p>
					<h2>Courier costs</h2>
					<p>Depending on what type of item you are sending and your individual requirements the price of shipping can vary dramatically. Other considerations also affect the price including the distance between the collection point and delivery address, the size and weight of the item and the value of the item. Whether you choose an economy service or express service will also affect the price.</p>
					<p>With these considerations to bear in mind it is important that you provide the delivery company with as much information as possible so that they can give you the best quote</p>
					<p>At Any-Movers.com we compare thousands of courier prices online with a click of a button. This not only saves you time searching for individual quotes, but also provides you with the best prices and services available according the type of jobs you need fulfilling.</p>
					<p>Each time there is a new quote our software will send you a quick email so that you can login and compare the different prices and services. You can also compare customer feedback and reviews on each of the couriers and ask any questions that you are not sure about directly to the courier. Our comparison service is free to use and there is no obligation.</p>
					<h2>Arranging the collection and delivery with the carrier</h2>
					<p>It is recommended that you check with a carrier when they would be able to collect the item before accepting a quote. Our website allows you to list when the best time for collection would be as well as a delivery date; this makes for more accurate quotes and more affordable prices.</p>
					<p>Once you’re happy that you have found the courier you want to use simply click the ‘accept bid’ button and pay the small booking fee to book their services. The courier company can then contact you in regards to the collection and delivery of the items.</p>
					<p>Once the job has been completed you can leave your own feedback and review on our site so that future users can make an informed decision when arranging their own courier services.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>

</html>