<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>European Transport</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service-content-wrapper">
					<h2>1. European transport preparation</h2>
					<p>Getting transport for items across Europe might seem like a daunting task but we assure you it’s not as difficult as all that. Finding European couriers to deliver your goods across the channel, or a shipping company to ferry your goods into The Med can be just as easy as finding a local courier to take your goods to the next town</p>
					<h3>Preparing your Items for Transport to Europe</h3>
					<p>One of the most important things to do before shipping to Europe is noting the condition your items. This is important because it will help you to notice whether or not it suffers any damage during its journey. Taking photos is a great way to irrefutably document the condition of your items; you can use the pictures as evidence in any insurance claim.</p>
					<h3>Packing Your Items for European Transport</h3>
					<p>You aren’t just going to sling all of your items in the back of a van before they’re shipped to Europe, preparation is everything as they say. So depending on what you’re getting delivered make sure you take the correct precautions to avoid damage.</p>
					<ul class="service-list-style-type">
						<li>Secure moving parts – such as those on machinery</li>
						<li>Lock or secure doors and drawers on furniture</li>
						<li>Pad out delicate items with the appropriate materials – bubble wrap, polystyrene, blankets (newspaper can damage delicate china but is ok for some things)</li>
					</ul>
					<h3>What’s the Cost?</h3>
					<p>Delivery to Europe isn’t as expensive as you might imagine, but it is obviously going to cost more than a domestic courier. Additional costs for the courier must usually be borne by the customer; toll roads, ferry or shipping costs and the increased mileage all contribute the driver’s variable costs</p>
					<p>Import VAT and customs duty may be payable on exports to Europe, make sure you check out the policy that the individual country operates before sending, the transporter might have to charge you extra.</p>
					<img src="images/european-transport.jpg">
					<h2>2. Choosing a European courier</h2>
					<p>Picking an European transport service to take your valuables across Europe is of course an important decision. There are thousands of European couriers out there and some of them aren’t as reliable as others, so it helps to know what to look out for when searching for your ideal international transporter</p>
					<h3>Trustworthiness</h3>
					<p>It can be hard to know from an advert or website whether a courier service is legitimate or not. The best way to scrutinise a potential deliveryman is to search for reviews and feedback they have received on previous jobs – asking friends and family is a great way to find a local courier, but for European couriers you should turn to online reviews of potential services.</p>
					<h3>Expertise</h3>
					<p>Certain things require a delicate touch when they’re being delivered. If you’re sending a piano to Poland or antiques to Andorra then you are going to need a highly specialised delivery service. Contacting prospective services to get an idea of the level of expertise they have with items similar to yours is always a good idea</p>
					<h3>Insurance</h3>
					<p>If you’re shipping all your worldly possessions you want to know that they’re protected in case the worst happens. Basic goods in transit insurance covers a driver up to £10,000 or around €12,255. Delivery services that deal with more expensive loads like removals or car transporters can have much higher levels of cover</p>
					<h3>Membership/Certification</h3>
					<p>Like feedback, finding a courier that is a recognised member of a transport association can act as another reassurance. Independent regulatory bodies help to ensure a high quality of service amongst their members. Any voluntary scrutiny that drivers put themselves up to should be a sign that they’re willing to “go the extra mile” if you will.</p>
					<h2>3. Completing European delivery</h2>
					<p>Getting quotes for your European transport from all the available courier companies is going to be an impossible task. “Going rates” can vary wildly, depending on how much work the couriers have going at the time. Throwing the aforementioned overhead costs and rising fuel costs into the mix can cause all sorts of confusion over pricing.</p>
					<p>Why not bring all the quotes to you in one place? This is where Any-Movers.com comes in!</p>
					<p>Simply upload the details of your delivery to the Any-Movers.com site: <strong>What</strong> your delivery is, <stong>when</stong> you need it moved and <strong>where</strong> your delivery is going (along with other helpful details, like pictures and dimensions).</p>
					<p>Once listed, European delivery companies that have spare capacity who are travelling similar routes will be able to quote you a price for your shipment</p>
					<p>Multiple drivers can compete for your transport in an effort to fill their spare space, meaning the your cost is lower and they fill their vehicles, win-win. As well as quotes, you can compare feedback that drivers have received from other jobs completed on Any-Movers.com – then it’s just a matter of choosing your preferred driver</p>
					<h3>Receiving your European Delivery</h3>
					<p>Bear in mind that there are a lot more factors that can delay an international delivery, shipping border and customs factors must be taken into account along with any  domestic issues. Keep in contact with your transporter and an eye on the news to know whether your delivery will be subject to any delays! </p>
					<p>When your delivery does arrive make sure that you check to make sure it hasn’t been damaged during its transportation. If it has been damaged then you should consult the transporter or seller if you were importing a purchase from overseas.</p>
					<p>When you have your items please leave some feedback on Any-Movers.com for the transporter you used.</p>
					<p>We wish you the best of luck with finding a great delivery quote!</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>

</html>