<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>Fragile Goods Transport</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service-content-wrapper">
					<h2>1. Fragile Goods Couriers - How To Prepare</h2>
					<p>If you’re buying breakables or selling a sculpture online, then chances are you might require a <strong>fragile goods transport</strong> company to provide safe passage for your purchase</p>
					<p>Many items that you might need to transport could be classified as “fragile” and will require special care during delivery, moving musical instruments or artwork for example takes a lot more care than shipping a breeze block. For this reason, it is worth looking into a speciality fragile goods courier to move your items.</p>
					<p>Fragile items are usually valuable, be it sentimentally or financially, which is why it pays to look for specialist couriers that are well versed in transporting delicate goods; specialists should have a wealth of experience in your item’s category and should have comprehensive insurance cover.</p>
					<p>Whether you choose a specialist transport expert or not, you need to make some preparations before you get delicate items delivered:</p>
					<p><strong>Research:</strong> If you’re distance buying/selling antiques then make sure you know their worth; this will help you choose the right level of service when it comes to picking a delivery company. What’s more, it might prompt you to up the level of insurance beyond the standard cover of the courier</p>
					<p><strong>Inspection:</strong> Make sure you give your item a thorough check over. If you’re getting an item off eBay listed for collection then ask the seller for an accurate description, this way you’ll be able to see if it suffers any nicks or scrapes during transit</p>
					<p><strong>Get Wrapping:</strong> Your glassware isn’t going anywhere without a generous helping of bubble wrap or polystyrene. Make sure that your items are secure in a box where  they can’t move about, and if moving stacked items ensure you provide padding between each layer.</p>
					<p>Fragile goods come in all shapes and sizes and require different specialised handling, if you need piano removals you’re looking at a completely different job to delivering china plates and different specific preparations as well.</p>
					<img src="images/fragile-goods.jpg">
					<h2>2. Finding The Best Fragile Goods Courier</h2>
					<p>Whatever breakables you’re moving it pays to research available couriers to find the best value and most qualified courier</p>
					<p>Delicate goods couriers can come in as many shapes and sizes as the items you’re moving, and each will have their own history and experience. So finding one that’s best suited to your item is going to give you peace of mind.</p>
					<p>Whenever you’re moving items with a courier, especially delicate articles, you’ll want to consider a number of things:</p>
					<p><strong>Cost:</strong> This mainly depends on what you’re moving and where. Most couriers charge a flat rate of £1.20 per mile, but you may pay more if transporting valuables or large items. Conversely, you can save money by finding couriers that have spare capacity.</p>
					<p><strong>Experience:</strong> Finding out how long the driver has been in the job and whether they’ve moved similar items before can be a good idea. This isn’t to say that a new courier is no good, but sometimes an old hand can be your best bet.</p>
					<p><strong>Insurance:</strong> All couriers should have some sort of goods in transport insurance, this covers them to deliver and pick up items, and should pay for anything that breaks in the unlikely event that anything should go wrong. You can usually acquire extra cover, for a premium, if you need to move something particularly valuable.</p>
					<p><strong>Association:</strong> This isn’t required of couriers but it can help give you an idea of the quality of service you can expect. Specialists might be members of organisations dedicated to certain categories, or your driver might be a member of a general delivery body, such as the National Courier Association.</p>
					<p><strong>Proximity:</strong> When you need to move goods over a large distance it’s helpful to find a courier that’s going there anyway, if you can employ a driver that is making a return journey or already making a delivery to your item’s destination you can save a lot on delivery costs.</p>
					<h2>3. Deliver Fragile Goods With Any-Movers.com</h2>
					<p>Finding out the credentials, experience and prices of a number of couriers can take a lot of time and effort. Checking the yellow pages or phoning around couriers can only glean you a certain amount of information.</p>
					<p>The web can help you get a better idea of the delivery services on offer, but not every independent transporter is going to have a website and you still end up trawling through lots of pages.</p>
					<p>If you want to bypass all that and have couriers come to you with quotes then AnyMovers.com can help.</p>
					<p>By listing your delivery requirements on Any-Movers.com you’ll be able to receive quotes from couriers who are able to make the trip. Transporters will quote competitively to try and win your delivery, meaning that the cost goes down.</p>
					<p>You can then check out the quotes you receive and compare the couriers based on their feedback and reviews from other Any-Movers.com users.</p>
					<p>Once you’ve got a quote that suits you all you have to do is accept it and then you can get your fragile items moving.</p>
					<h2>Completing the delivery</h2>
					<p>Once your delivery has been completed by your preferred transporter you’ll want to make a few checks to ensure that your items are ok.</p>
					<p>Make sure that your items are undamaged; you should bring up any issues with the transporter immediately. In the unlikely event of breakages you should be covered by the transporter’s insurance.</p>
					<p>When your items are safe and sound we’d appreciate your feedback on AnyMovers.com. Rating your driver and providing a review will help future AnyMovers.com users who are looking for cheap fragile item delivery.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<style>
	.banner-heading-area h1 {
	    font-size: 37px;
	}
</style>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>

</html>