<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=3">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>how it's work</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="how-it-image">
					<img src="images/delivery-img.jpg">
				</div>
			</div>
			<div class="col-md-6">
				<div class="how-it-content">
					<h3>Delivery safely completed</h3>
					<p>Start by describing what you need to move , where and when.</p>
					<ul class="how-it-work-list">
						<li><i class="fas fa-check"></i> Simple form takes less than a minute</li>
						<li><i class="fas fa-check"></i> Move anything from furniture to cars</li>
						<li><i class="fas fa-check"></i> Used by millions of people</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top-tittle">
					<h2>HOW IT WORKS</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="how-it-work-box how-it-work-box-2">
					<span class="work-count">1</span>
					<h3>Enter information</h3>
					<p>Describe what you need to move Include collection & delivery details Specify dates - the more flexible the better the prices Receive free, no obligation quotes Reverse auction format - saving up to 75%</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="how-it-work-box how-it-work-box-2">
					<span class="work-count">2</span>
					<h3>Compare Free Quotes</h3>
					<p>Review & compare quotes received Customer rated transport firms bid for your business Email alerts each time you receive a new quote All online with no sales calls</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="how-it-work-box how-it-work-box-2">
					<span class="work-count">3</span>
					<h3>Choose Quote & Save</h3>
					<p>Read transport company profiles & business information Ask any necessary questions Review previous customer feedback Click "Accept bid" to arrange collection & delivery</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="javascript:void(0);">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="javascript:void(0);">Motorcycle Transport</a></li>
					<li><a href="javascript:void(0);">Courier Services</a></li>
					<li><a href="javascript:void(0);">Man With a Ven</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="javascript:void(0);">Car Transport</a></li>
					<li><a href="javascript:void(0);">Removal Companies</a></li>
					<li><a href="javascript:void(0);">Large Item Delivery</a></li>
					<li><a href="javascript:void(0);">International Shipping</a></li>
					<li><a href="javascript:void(0);">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="javascript:void(0);">Fragile Goods Transport</a></li>
					<li><a href="javascript:void(0);">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
				</ul>
				<div class="ebay-logo footer-ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>

</body>

</html>