<!DOCTYPE html>
<html>
<head>
	<title>Tranport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>



<section class="job-listing-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<div class="back-to-search">
					<button type="submit" href="search-deliveries.html"><i class="fas fa-caret-left"></i> Back to Search</button>
					<p>Category: <a href="furniture-delivery.html">Furniture & General Items</a></p>
				</div>
			</div>
			<div class="col-lg-6 col-md-12">
				<div class="back-to-search back-to-search2">
					<p>Item ID: 96WN58KB9</p>
					<button type="button" href="javascript:void(0);"><i class="far fa-flag"></i> Report</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="map-area-box">
					<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
				</div>
			</div>
			<div class="col-md-12">
				<div class="job-listing-box">
					<div class="deliveries-icon">
						<i class="fas fa-couch"></i>
					</div>
					<div class="deliveries-location">
						<h2></h2>
						<p><i class="fas fa-map-marker-alt"></i> <span>Watertown, Massachusetts</span></p>
						<p><i class="fas fa-map-marker-alt"></i> <span>Santa Clara, California, 95054</span></p>
						<p><i class="far fa-compass"></i> <span>3,118 mi</span></p>
						<p><i class="far fa-clock"></i> <span>47 hours 33 mins</span></p>
					</div>
				</div>
				<div class="job-panel-listing">
					<div class="panel panel-default">
						<div id="itemDetailsAnchor" class="panel-heading"><span class="default-text"><strong>Item Details</strong></span></div>
						<div class="panel-body item-details-wrapper">
							<div class="row">
								<div class="col-md-3">
								<p class="item-details-wrapper-first-p"><strong>User</strong>: <a href="/us/users/view/salv1914">salv1914</a> (<a href="/us/users/view/salv1914">0</a>)</p>
							</div>
							<div class="col-md-5">
								<p class="item-details-wrapper-first-p"><strong>Date Listed</strong>: 06/17/2021 04:47</p>
							</div>
							<div class="col-md-4">
								<p class="item-details-wrapper-first-p"><strong>Expires</strong>: 07/01/2021 04:47</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<p class="item-details-wrapper-p"><strong>Description: </strong> Queen Size Mattress, </p>
								<p class="item-details-wrapper-p"><strong>Length: </strong>Not provided</p>
								<p class="item-details-wrapper-p"><strong>Width: </strong>Not provided</p>
								<p class="item-details-wrapper-p"><strong>Height: </strong>Not provided</p>
								<p class="item-details-wrapper-p"><strong>Weight: </strong>Not provided</p>
							</div>
						</div>
						</div>
					</div>
				</div>
				<div class="quotes-table">
					<table class="table">
						<thead>
							<tr>
								<th>Quote Amount</th>
								<th>Shipping Company</th>
								<th>Quote Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="3">- no quotes to display -</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="quotes-table">
					<table class="table">
						<thead>
							<tr>
								<th>Questions From Shipping Company</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td colspan="3">- no messages to display -</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
				<div class="ebay-logo footer-ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
					<li>
						<a href="javascript:void(0);">
							<i class="fab fa-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<i class="fab fa-linkedin-in"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<i class="fab fa-twitter"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<i class="fab fa-pinterest-p"></i>
						</a>
					</li>
					<li>
						<a href="javascript:void(0);">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

</html>