<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=4">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-6">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
			</div>
			<div class="col-md-9 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="nav-link" href="search-deliveries.html">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="how-it-works.html">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="help.html">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="login.html">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="sign-up.html">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="get-quotes.html">Get Quotes</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="bg-style" style="background-image: url(images/service-inner-bg.jpg);">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-10 col-12">
				<div class="banner-heading-area">
					<h1>Motorcycle Transport</h1>
					<p>Starting from loading to unloading and maintaining the highest standards in terms of safety while in transit, we take nothing to chance.</p>
					<form class="banner-form-inner" action="delivery-form.html" method="post">
						<div class="form-group select-picker-style">
							<select id="js-type-rc" class="js-standard-dropdown" required="true">
								<option data-img_src="fas fa-bed" value="">Furniture & General Items</option>
								<option data-img_src="fas fa-archive" value="">Boxes</option>
								<option data-img_src="fas fa-car" value="">car</option>
								<option data-img_src="fas fa-motorcycle" value="">Motorcycles</option>
								<option data-img_src="fas fa-bus" value="">Other Vehicles</option>
								<option data-img_src="fas fa-home" value="">Moving Home</option>
								<option data-img_src="fas fa-truck" value="">Freight</option>
								<option data-img_src="fas fa-ship" value="">Boats</option>
								<option data-img_src="fas fa-tools" value="">Vehicle Parts</option>
								<option data-img_src="fas fa-music" value="">Pianos</option>
								<option data-img_src="fas fa-paw" value="">Pets & Livestock</option>
								<option data-img_src="fas fa-cog" value="">Other</option>
							</select>
		 				</div>
						<div class="from-grop-box">
							<div class="form-group col-md-6">
								<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Collection Location" required>
							</div>
							<div class="form-group col-md-6">
							  	<i class="fas fa-map-marker-alt"></i>
							    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Delivery Location" required>
							</div>
						</div>
						<button type="submit" class="banner-btn">Receive Quotes In Minutes</button>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="service-content-wrapper">
					<h2>Motorcycle Transport</h2>
					<p>If you’re organising a motorcycle transport or arranging to ship a motorcycle overseas you need to be realistic with the timeframe. To avoid complications it is advised that you start looking for motorcycle transportation quotes at least two weeks in advance of your deadline.</p>
					<p>Next you need to consider how you want your motorcycle transporting. If it’s a UK delivery most motorcycle transport companies will offer two general delivery options. The first option which applies to most forms of vehicle delivery is an open trailer service; although this is the cheapest mode of transport do remember that your motorbike will be exposed to the elements during transport. The second option is to arrange your motorbike transport in an enclosed trailer. This is ideal for classic or expensive motorcycles as it is both secure and safe from the elements</p>
					<img src="images/motorcycle-transport.jpg">
					<h2>Shipping your motorcycle</h2>
					<p>If you’re transporting your motorcycle overseas then you’ll need a specialist motorcycle shipping company to manage the process and the documentation required. With over 6,000 registered transporters we have literally 100s of specialised motorbike shippers to help arrange the process foryou.</p>
					<h2>Getting your motorbike delivery quotes</h2>
					<p>Once you've decided upon the type of motorcycle transporter you require, you need to start shopping around for quotes. This is where Any-Movers.com can help; rather than spend hours on the phone comparing prices, simply enter your motorcycle delivery requirements and we'll match them against 100's of motorcycle shipping companies competing online for your business. Click on the button below and start receiving free, no obligation quotes from some of the UK's most respected motorcycle transport companies.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<!-- Latest compiled and minified JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.css" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.js"></script>

<script type="text/javascript">
	$(function () {
		function custom_template(obj){
            var data = $(obj.element).data();
            var text = $(obj.element).text();
            if(data && data['img_src']){
                img_src = data['img_src'];
                template = $("<div><i class=\"" + img_src + "\"></i>" + text + "</p></div>");
                return template;
		            }
		        }
		    var options = {
		        'templateSelection': custom_template,
		        'templateResult': custom_template,
	            minimumResultsForSearch: -1

		    }
		    $('.select-picker-style').each(function(){
		   	 	$(this).find('select').select2(options)
			});
		    $('.select2-container--default .select2-selection--single').css({'height': '220px'});	
	});
</script>

</html>