<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=3">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-6 dashboard-menu">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
				<ul class="navbar-nav logo-wrap-menu">
					<li class="nav-item">
						<a href="javascript:void(0);">Get Quotes</a>
					</li>
					<li class="nav-item">
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li class="nav-item">
						<a href="how-it-works.html">How It Works</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav dashboard-mobile-menu">
				    	<li class="nav-item">
							<a class="nav-link" href="javascript:void(0);">Get Quotes</a>
						</li>
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="#">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="messages.html"><i class="fas fa-envelope"></i></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="outbid-Auctions.html"><i class="fas fa-gavel"></i></a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="vendor-dashboard.html"><i class="fas fa-tachometer-alt"></i> My Activity</a>
				      </li>
				    </ul>
				    <ul class="navbar-nav dashboard-dekstop-menu">
				      <li class="nav-item">
				        <a class="nav-link" href="#">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="messages.html"><i class="fas fa-envelope"></i></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="outbid-Auctions.html"><i class="fas fa-gavel"></i></a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="vendor-dashboard.html"><i class="fas fa-tachometer-alt"></i> My Activity</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="dashboard-menu-top">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="dashboard-top-heading">
					<p><strong>My Activity:</strong> fastremove 143</p>
				</div>
			</div>
			<div class="col-md-6 dashboard-tab-wrapper">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="vendor-dashboard.html;">
							<i class="fas fa-exchange-alt"></i>
							<span class="myActivity-nav-link">My Activity </span>
						</a>
					</li>
					<li>
						<a href="messages.html">
							<i class="fa fa-envelope"></i>
							<span class="myActivity-nav-link">Messages  </span>
							<!-- <div class="msg-counter-number">1</div> -->
						</a>
					</li>
					<li>
						<a href="account.html">
							<i class="fa fa-user"></i>
							<span class="myActivity-nav-link">Account</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="right-side-column">
					<div class="right-top-heading">
						<h3>My Activity</h3>
					</div>
					<ul class="left-nav-item-list">
						<li class="left-nav-item">
							<a href="vendor-dashboard.html" class="left-nav-a left-nav-first">
								<i class="fa fa-truck"></i>
								<span class="ms-left-nav-txt">Current Quotes</span>
							</a>
						</li>
						<li class="left-nav-item active">
							<a href="outbid-Auctions.html" class="left-nav-a left-nav-first">
								<i class="fas fa-gavel"></i>
								<span class="ms-left-txt">Outbid Auctions</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="accepted-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-check-circle"></i>
								<span class="ms-left-txt">Accepted Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="unsuccessful-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-times-circle"></i>
								<span class="ms-left-txt">Unsuccessful Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="completed-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-thumbs-up"></i>
								<span class="ms-left-txt">Completed Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="shipments-watching.html" class="left-nav-a left-nav-first">
								<i class="far fa-eye"></i>
								<span class="ms-left-tx">Shipments I'm Watching</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="saved-searches.html" class="left-nav-a left-nav-first">
								<i class="fas fa-search-plus"></i>
								<span class="ms-left-txt">Saved Searches</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="feedback.html" class="left-nav-a left-nav-first">
								<i class="fas fa-comments"></i>
								<span class="ms-left-txt">Feedback</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="index.html" class="left-nav-a left-nav-first">
								<i class="fas fa-sign-out-alt"></i>
								<span class="ms-left-txt">Logout</span>
							</a>
						</li>	
					</ul>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="left-side-col-wraper">
					<div class="left-side-pannel-head">
						<div class="panel-heading-div">
							<i class="fas fa-gavel"></i>
							<span class="panel-strong"><strong>Outbid Auctions (displaying 1 - 10 of 10)</strong></span>
						</div>
						<div class="form-group">
							<label class="sr-only" for="">Accepted Quotes Order:</label>
							<select id="AcceptedQuotesOrder" class="form-control listing-action">
								<option value="1" selected="selected">Date Outbid: Newest First</option>
								<option value="2">Date Outbid: Oldest First</option>
								<option value="3">Date Quote Placed: Newest First</option>
								<option value="4">Date Quote Placed: Oldest First</option>
							</select>
						</div>
					</div>
					<!-- <div class="panel-sll-select-box custom-button">
						<div class="checkbox">
							<input id="SelectCurrentQuotesCheckbox" class="input-checkbox" type="checkbox" name="data[Bid][withdraw_action][]" value="all">
							<label id="SelectCurrentQuotes" for="SelectCurrentQuotesCheckbox" class="checkbox-label">
								<span class="label-checkbox"></span>
								<span class="label-checkbox-text">Select All</span>
							</label>
						</div>
						<button type="submit" class="btn btn-default panel-heading-btn">Withdraw Quote</button>
					</div> -->
					<div class="lsit-info-box-wrap">
						<div class="row">
							<div class="col-md-7 address-tpye-col">
								<div class="top-area-box">
									<a href="javascript:void(0);">
										Sofa And Two Single Chairs
										<i class="fas fa-external-link-alt"></i>
									</a>
								</div>
								<ul class="address-list-info">
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Denny, Falkirk, FK6</span>
									</li>
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Falkirk, Stirlingshire, FK1</span>
									</li>
								</ul>
							</div>
							<div class="col-md-5 quotes-wrapper">
								<div class="secound-list-info-wrapper">
									<i class="far fa-comment"></i>
									<div class="base-font">
										<strong>Quotes: </strong>
										<span>18</span>
									</div>
								</div>
								<div class="secound-list-info-wrapper">
									<i class="fa fa-comments"></i>
									<div class="base-font">
										<strong>My Net Quote: £</strong>
										<span id="Bid3YZ79BD9LAmount" class="bid-current-amount bid-current-amount-high" data-id="3YZ79BD9L">100</span>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="from-submit-btn">
									<button type="button" class="btn btn-secondary">Submit Quote</button>
									<button type="button" class="btn btn-default">Ignore</button>
								</div>
							</div>
						</div>
					</div>
					<div class="lsit-info-box-wrap">
						<div class="row">
							<div class="col-md-7 address-tpye-col">
								<div class="top-area-box">
									<a href="javascript:void(0);">
										Sofa And Two Single Chairs
										<i class="fas fa-external-link-alt"></i>
									</a>
								</div>
								<ul class="address-list-info">
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Denny, Falkirk, FK6</span>
									</li>
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Falkirk, Stirlingshire, FK1</span>
									</li>
								</ul>
							</div>
							<div class="col-md-5 quotes-wrapper">
								<div class="secound-list-info-wrapper">
									<i class="far fa-comment"></i>
									<div class="base-font">
										<strong>Quotes: </strong>
										<span>18</span>
									</div>
								</div>
								<div class="secound-list-info-wrapper">
									<i class="fa fa-comments"></i>
									<div class="base-font">
										<strong>My Net Quote: £</strong>
										<span id="Bid3YZ79BD9LAmount" class="bid-current-amount bid-current-amount-high" data-id="3YZ79BD9L">100</span>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="from-submit-btn">
									<button type="button" class="btn btn-secondary">Submit Quote</button>
									<button type="button" class="btn btn-default">Ignore</button>
								</div>
							</div>
						</div>
					</div>
					<div class="lsit-info-box-wrap">
						<div class="row">
							<div class="col-md-7 address-tpye-col">
								<div class="top-area-box">
									<a href="javascript:void(0);">
										Sofa And Two Single Chairs
										<i class="fas fa-external-link-alt"></i>
									</a>
								</div>
								<ul class="address-list-info">
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Denny, Falkirk, FK6</span>
									</li>
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Falkirk, Stirlingshire, FK1</span>
									</li>
								</ul>
							</div>
							<div class="col-md-5 quotes-wrapper">
								<div class="secound-list-info-wrapper">
									<i class="far fa-comment"></i>
									<div class="base-font">
										<strong>Quotes: </strong>
										<span>18</span>
									</div>
								</div>
								<div class="secound-list-info-wrapper">
									<i class="fa fa-comments"></i>
									<div class="base-font">
										<strong>My Net Quote: £</strong>
										<span id="Bid3YZ79BD9LAmount" class="bid-current-amount bid-current-amount-high" data-id="3YZ79BD9L">100</span>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="from-submit-btn">
									<button type="button" class="btn btn-secondary">Submit Quote</button>
									<button type="button" class="btn btn-default">Ignore</button>
								</div>
							</div>
						</div>
					</div>
					<div class="lsit-info-box-wrap">
						<div class="row">
							<div class="col-md-7 address-tpye-col">
								<div class="top-area-box">
									<a href="javascript:void(0);">
										Sofa And Two Single Chairs
										<i class="fas fa-external-link-alt"></i>
									</a>
								</div>
								<ul class="address-list-info">
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Denny, Falkirk, FK6</span>
									</li>
									<li>
										<i class="fas fa-map-marker-alt"></i>
										<span class="value-address base-font">Falkirk, Stirlingshire, FK1</span>
									</li>
								</ul>
							</div>
							<div class="col-md-5 quotes-wrapper">
								<div class="secound-list-info-wrapper">
									<i class="far fa-comment"></i>
									<div class="base-font">
										<strong>Quotes: </strong>
										<span>18</span>
									</div>
								</div>
								<div class="secound-list-info-wrapper">
									<i class="fa fa-comments"></i>
									<div class="base-font">
										<strong>My Net Quote: £</strong>
										<span id="Bid3YZ79BD9LAmount" class="bid-current-amount bid-current-amount-high" data-id="3YZ79BD9L">100</span>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="form-group Outbid-form-group">
									<div class="form-inner-box">
										<div class="form-item">
											<span>£</span>
											<input type="text" name="text" class="form-control log_control" placeholder="New Net Quote (amount to you)" autocomplete="off">
										</div>
										<i class="far fa-comment-dots"></i>
									</div>
								</div>
								<div class="from-submit-btn">
									<button type="button" class="btn btn-secondary">Submit Quote</button>
									<button type="button" class="btn btn-default">Ignore</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="furniture-delivery.html">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="man-&-van.html">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="motorcycle-transport.html">Motorcycle Transport</a></li>
					<li><a href="courier-services.html">Courier Services</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="car-transport.html">Car Transport</a></li>
					<li><a href="removal-companies.html">Removal Companies</a></li>
					<li><a href="large-Item-delivery.html">Large Item Delivery</a></li>
					<li><a href="international-shipping.html">International Shipping</a></li>
					<li><a href="haulage-services.html">Haulage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
					<li><a href="european-transport.html">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
				<h5>QUICK LiNKS</h5>
				<ul class="footer-list-style footer-list-style2">
					<li>
						<a href="search-deliveries.html">Search Deliveries</a>
					</li>
					<li>
						<a href="how-it-works.html">How It Works</a>
					</li>
					<li>
						<a href="help.html">Help</a>
					</li>
					<li>
						<a href="login.html">Log in</a>
					</li>
					<li>
						<a href="terms-and-condition.html">Terms And Condition</a>
					</li>
				</ul>
				<div class="ebay-logo footer-ebay-logo">
					<img src="images/ebay-guide1.png">
					<p>compatible</p>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<script>
	$(document).ready(function(){
		$('.input-cheackbox').click(function(){
          $(this).closest('.input-cheack-area').find('.form-inner').toggle();
      });
	});
</script>

</body>

</html>