<!DOCTYPE html>

<html>
  <head>
    <title>transppart</title>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="css/slick.css" />

    <link rel="stylesheet" type="text/css" href="css/slick-theme.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <link rel="stylesheet" type="text/css" href="style.css?v=4" />

    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/slick.min.js"></script>
    <style>
      .pop-up {
        text-align: center;
        padding: 10px;
        background-color: green;
        border: 1px solid green;
        border-radius: 5px;
        margin-left: 250px;
        width: 200px;
        height: 80px;
        color: white;
      }
    </style>
  </head>

  <body>
    <header class="header-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-6">
            <a href="index.html">
              <img src="images/header-logo.png" />
            </a>
          </div>
          <div class="col-md-9 col-6 header-toggle-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div
                class="collapse navbar-collapse header-nav"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="search-deliveries.html"
                      >Search Deliveries</a
                    >
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="how-it-works.html"
                      >How It Works</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="help.html">Help</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="user-login">Log in</a>
                  </li>
                  <li class="nav-item btn transport-btn">
                    <a class="nav-link" href="sign-up.html"
                      >Are you a Transport Company?</a
                    >
                  </li>
                  <li class="nav-item btn btn-secondary">
                    <a class="nav-link" href="get-quotes.html">Get Quotes</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <!-- <section class="inner-banner-sec bg-style" style="background-image: url(images/banner-inner-bg.jpg);">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h1>REGISTER</h1>

			</div>

		</div>

	</div>

</section> -->

    <section
      class="viseo-sec-area transpoart-company-bg"
      style="background-image: url(images/ragister-form-bg.jpg)"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-md-6">
            <video
              width="100%"
              height="400"
              autoplay="autoplay"
              loop="loop"
              controls
              muted
            >
              <source src="images/any-movers-video.mp4" type="video/mp4" />
              <source src="images/any-movers-video.mp4" type="video/ogg" />
            </video>
          </div>

          <div class="col-lg-5 col-md-6">
            <% if(registered){ %>
            <label class="pop-up"
              >Successfully Registered<br /><a
                href="user-login"
                style="color: white"
                ><--back-to-login</a
              ></label
            >
            <% } %>
            <div class="login-box">
              <div class="login-heading">
                <h2>REGISTER FORM</h2>
              </div>

              <div class="login-form">
                <form action="/user-signup" method="POST">
                  <div class="form_group">
                    <div class="formitem">
                      <label>First Name</label>

                      <input
                        type="text"
                        name="first"
                        class="form-control log_control"
                        placeholder="First Name"
                      />
                    </div>

                    <div class="formitem">
                      <label>Last Name</label>

                      <input
                        type="text"
                        name="last"
                        class="form-control log_control"
                        placeholder="Last Name"
                      />
                    </div>

                    <div class="formitem">
                      <label>Enter Your Email</label>

                      <input
                        type="text"
                        name="email"
                        class="form-control log_control"
                        placeholder="Enter your email ID"
                      />
                    </div>

                    <div class="formitem">
                      <label>Password</label>

                      <input
                        type="password"
                        name="password"
                        class="form-control log_control"
                        placeholder="Password"
                      />
                    </div>

                    <div class="formitem">
                      <label>Confirm Your Password</label>

                      <input
                        type="password"
                        name="confirmPassword"
                        class="form-control log_control"
                        placeholder="Confirm Your Password"
                      />
                    </div>
                  </div>

                  <div class="log_btn">
                    <div class="log_b btn-secondary">
                      <a class="btn_sub"
                        ><input
                          type="submit"
                          value="Submit"
                          style="
                            background-color: #b81226;
                            border: none;
                            color: #fff;
                          "
                      /></a>
                    </div>
                  </div>

                  <div class="remember-area">
                    <p>
                      Already have an account? <a href="user-login">Login</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-sec">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <h5>CONTACTS US</h5>
            <div class="footer-company-details">
              <ul>
                <li>
                  <div class="contact-info-inner">
                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                  </div>
                  <p>Zhongxing Road,kenli Distrect, Dongying,shandong</p>
                </li>
                <li>
                  <div class="contact-info-inner">
                    <i class="fas fa-phone-alt" aria-hidden="true"></i>
                  </div>
                  <p>999-999-999</p>
                </li>
                <li>
                  <div class="contact-info-inner">
                    <i class="fas fa-envelope" aria-hidden="true"></i>
                  </div>
                  <p>example@gamil.com</p>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
          <div class="col-lg-5 col-md-6">
            <h5>OUR SERVICES</h5>
            <ul class="footer-list-style">
              <li><a href="furniture-delivery.html">Furniture Delivery</a></li>
              <li><a href="javascript:void(0);">eBay Couriers</a></li>
              <li><a href="man-&-van.html">Man And Van</a></li>
              <li><a href="javascript:void(0);">Boat Transport</a></li>
              <li>
                <a href="motorcycle-transport.html">Motorcycle Transport</a>
              </li>
              <li><a href="courier-services.html">Courier Services</a></li>
              <li><a href="javascript:void(0);">Pet Transport</a></li>
              <li><a href="car-transport.html">Car Transport</a></li>
              <li><a href="removal-companies.html">Removal Companies</a></li>
              <li>
                <a href="large-Item-delivery.html">Large Item Delivery</a>
              </li>
              <li>
                <a href="international-shipping.html">International Shipping</a>
              </li>
              <li><a href="haulage-services.html">Haulage</a></li>
              <li><a href="javascript:void(0);">Removals</a></li>
              <li><a href="fragile-goods.html">Fragile Goods Transport</a></li>
              <li><a href="european-transport.html">European Transport</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6">
            <!-- <div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div> -->
            <h5>QUICK LiNKS</h5>
            <ul class="footer-list-style footer-list-style2">
              <li>
                <a href="search-deliveries.html">Search Deliveries</a>
              </li>
              <li>
                <a href="how-it-works.html">How It Works</a>
              </li>
              <li>
                <a href="help.html">Help</a>
              </li>
              <li>
                <a href="login.html">Log in</a>
              </li>
              <li>
                <a href="terms-and-condition.html">Terms And Condition</a>
              </li>
            </ul>
            <div class="ebay-logo footer-ebay-logo">
              <img src="images/ebay-guide1.png" />
              <p>compatible</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <footer class="footer-sec2">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Copyright © 2021 All Rights Reserved.</p>

            <ul class="footer-social-icon">
              <li>
                <a href="javascript:void(0);">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0);">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0);">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0);">
                  <i class="fab fa-pinterest-p"></i>
                </a>
              </li>

              <li>
                <a href="javascript:void(0);">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
