<!DOCTYPE html>
<html>
<head>
	<title>Transport</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/slick.css">
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="style.css?v=3">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
</head>
<body>

</body>
<header class="header-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-6 dashboard-menu">
				<a href="index.html">
					<img src="images/header-logo.png">
				</a>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="nav-link" href="javascript:void(0);">Get Quotes</a>
					</li>
					<li class="nav-item">
						<a href="nav-link" href="javascript:void(0);">Search Deliveries</a>
					</li>
					<li class="nav-item">
						<a href="nav-link" href="javascript:void(0);">How It Works</a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 col-6 header-toggle-menu">
				<nav class="navbar navbar-expand-lg navbar-light">
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse header-nav" id="navbarSupportedContent">
				    <ul class="navbar-nav" style="display: none;">
				      <li class="nav-item active">
				        <a class="nav-link" href="#">Search Deliveries</a>
				      </li>
				      <li class="nav-item active">
				        <a class="nav-link" href="#">How It Works</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#">Log in</a>
				      </li>
				      <li class="nav-item btn transport-btn">
				        <a class="nav-link" href="#">Are you a Transport Company?</a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="#">Get Quotes</a>
				      </li>
				    </ul>
				    <ul class="navbar-nav">
				      <li class="nav-item">
				        <a class="nav-link" href="#">Help</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#"><i class="fas fa-envelope"></i></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="#"><i class="fas fa-gavel"></i></a>
				      </li>
				       <li class="nav-item btn btn-secondary">
				        <a class="nav-link" href="#"><i class="fas fa-tachometer-alt"></i> My Shiply</a>
				      </li>
				    </ul>
				  </div>
				</nav>
			</div>
		</div>
	</div>
</header>

<section class="dashboard-menu-top">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="dashboard-top-heading">
					<p><strong>My Shiply:</strong> fastremove 143</p>
				</div>
			</div>
			<div class="col-md-6 dashboard-tab-wrapper">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="vendor-dashboard.html">
							<i class="fas fa-exchange-alt"></i>
							<span class="myshiply-nav-link">Shiply Activity </span>
						</a>
					</li>
					<li>
						<a href="messages.html">
							<i class="fa fa-envelope"></i>
							<span class="myshiply-nav-link">Messages  </span>
							<!-- <div class="msg-counter-number">1</div> -->
						</a>
					</li>
					<li>
						<a href="account.html">
							<i class="fa fa-user"></i>
							<span class="myshiply-nav-link">Account</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="right-side-column">
					<div class="right-top-heading">
						<h3>My Shiply</h3>
					</div>
					<ul class="left-nav-item-list">
						<li class="left-nav-item">
							<a href="vendor-dashboard.html" class="left-nav-a left-nav-first">
								<i class="fa fa-truck"></i>
								<span class="ms-left-nav-txt">Current Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="outbid-Auctions.html" class="left-nav-a left-nav-first">
								<i class="fas fa-gavel"></i>
								<span class="ms-left-txt">Outbid Auctions</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="accepted-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-check-circle"></i>
								<span class="ms-left-txt">Accepted Quotes</span>
							</a>
						</li>
						<li class="left-nav-item">
							<a href="unsuccessful-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-times-circle"></i>
								<span class="ms-left-txt">Unsuccessful Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="completed-quotes.html" class="left-nav-a left-nav-first">
								<i class="far fa-thumbs-up"></i>
								<span class="ms-left-txt">Completed Quotes</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="shipments-watching.html" class="left-nav-a left-nav-first">
								<i class="far fa-eye"></i>
								<span class="">Shipments I'm Watching</span>
							</a>
						</li>
						<li class="left-nav-item active">
							<a href="saved-searches.html" class="left-nav-a left-nav-first">
								<i class="fas fa-search-plus"></i>
								<span class="ms-left-txt">Saved Searches</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="feedback.html" class="left-nav-a left-nav-first">
								<i class="fas fa-comments"></i>
								<span class="ms-left-txt">Feedback</span>
							</a>
						</li>
						<li class="left-nav-item ">
							<a href="javascript:void(0);" class="left-nav-a left-nav-first">
								<i class="fas fa-sign-out-alt"></i>
								<span class="ms-left-txt">Logout</span>
							</a>
						</li>	
					</ul>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="left-side-col-wraper">
					<div class="left-side-pannel-head">
						<div class="panel-heading-div saved-search-head">
							<i class="fas fa-search-plus"></i>
							<span class="panel-strong"><strong>Saved Searches</strong></span>
						</div>
					</div>
					<div class="saved-search-content">
						<p><strong>Saved searches makes finding new shipments on Shiply even easier. Just perform a search for the criteria you are interested in and then click on the 'Save this Search' button.</strong></p>
						<p>Having customised and saved your search, you will have all of the newest results emailed to you, daily. This is a great tool to stay on top of the newest shipments so you can quote first and win more!</p>
						<div class="saved-search-table">
							<table class="table saved-search-table">
								<thead>
									<tr>
										<th style="width: 50%;">Saved&nbsp;Searches</th>
										<th>Run&nbsp;Saved&nbsp;Search</th>
										<th>Delete&nbsp;Saved&nbsp;Search</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>glasgow</td>
										<td><a href="javascript:void(0);" class="btn btn-secondary">Run</a></td>
										<td><a href="javascript:void(0);" class="btn btn-secondary">Delete</a></td>
									</tr>
									<tr>
										<td>Anglia</td>
										<td><a href="javascript:void(0);" class="btn btn-secondary">Run</a></td>
										<td><a href="javascript:void(0);" class="btn btn-secondary">Delete</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<h5>CONTACTS US</h5>
				<div class="footer-company-details">
					<ul>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
							</div>
							<p>Zhongxing Road,kenli Distrect, Dongying,shandong</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-phone-alt" aria-hidden="true"></i>
							</div>
							<p>999-999-999</p></li>
						<li>
							<div class="contact-info-inner">
								<i class="fas fa-envelope" aria-hidden="true"></i>
							</div>
							<p>example@gamil.com</p>
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="col-lg-2 col-md-6">
				<h5>QUICK LINKS</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Search Deliveries</a></li>
					<li><a href="javascript:void(0);">How It Works</a></li>
					<li><a href="javascript:void(0);">Help</a></li>
					<li><a href="javascript:void(0);">Log in</a></li>
				</ul>
			</div> -->
			<div class="col-lg-5 col-md-6">
				<h5>OUR SERVICES</h5>
				<ul class="footer-list-style">
					<li><a href="javascript:void(0);">Furniture Delivery</a></li>
					<li><a href="javascript:void(0);">eBay Couriers</a></li>
					<li><a href="javascript:void(0);">Man And Van</a></li>
					<li><a href="javascript:void(0);">Boat Transport</a></li>
					<li><a href="javascript:void(0);">Motorcycle Transport</a></li>
					<li><a href="javascript:void(0);">Courier Services</a></li>
					<li><a href="javascript:void(0);">Men With a Ven</a></li>
					<li><a href="javascript:void(0);">Pet Transport</a></li>
					<li><a href="javascript:void(0);">Car Transport</a></li>
					<li><a href="javascript:void(0);">Removal Companies</a></li>
					<li><a href="javascript:void(0);">Large Item Delivery</a></li>
					<li><a href="javascript:void(0);">Motorcycle Transport</a></li>
					<li><a href="javascript:void(0);">International Shipping</a></li>
					<li><a href="javascript:void(0);">Hautage</a></li>
					<li><a href="javascript:void(0);">Removals</a></li>
					<li><a href="javascript:void(0);">Fragile Goods Transport</a></li>
					<li><a href="javascript:void(0);">European Transport</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="our-location-box">
					<h5>NEWSLETTER SUBSCRIBE</h5>
					<p>Vivamus consequat, felis at aliquam elementum, massa sem dignissim elit, sit amet cursus massa tortor eget ante.</p>
					<form>
						<input type="email" name="" placeholder="Enter your email here...">
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>

<footer class="footer-sec2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>Copyright © 2021 All Rights Reserved.</p>
				<ul class="footer-social-icon">
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-linkedin-in"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-pinterest-p"></i>
							</a>
						</li>
						<li>
							<a href="javascript:void(0);">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
			</div>
		</div>
	</div>
</footer>

<script>
	$(document).ready(function(){
		$('.input-cheackbox').click(function(){
          $(this).closest('.input-cheack-area').find('.form-inner').toggle();
      });
	});
</script>

</html>